﻿@{
    ViewBag.Title = "Confirmar e-mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Obrigado por confirmar o seu email. Por gentileza, @Html.ActionLink("Clique aqui para fazer o log in", "Login", "Account", 
                                                               routeValues: null, htmlAttributes: new { id = "loginLink" })    </p>
</div>
