﻿@model IEnumerable<DesafioMegaWeb.Models.LuminariasModel>

@{
    ViewBag.Title = "Luminárias";
}

<h2>Luminarias</h2>

<p>
    @Html.ActionLink("Adcionar nova luminária", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>


        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
            @Html.ActionLink("Apagar", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
