﻿@model DesafioMegaWeb.Models.BlocosModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Deseja Apagar este arquivo?</h3>
<div>
    <h4>Blocos</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.DisplayNameFor(model => model.Nome)
        <br/>
        @Html.DisplayFor(modelItem => modelItem.Nome)
        <br/>
        @Html.DisplayNameFor(model => model.Descricao)
        <br/>
        @Html.DisplayFor(modelItem => modelItem.Descricao)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
