﻿@model IEnumerable<DesafioMegaWeb.Models.PavimentosModel>

@{
    ViewBag.Title = "Index";
}

<h2>Pavimento</h2>

<p>
    @Html.ActionLink("Adicionar novo pavimento", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Luminarias)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DropDownList("Luminanarias",new SelectList(item.Luminarias,"Id","Nome"))
        </td>

        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
            @Html.ActionLink("Apagar", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
